%a{:href => "http://agiledesigncamp.wufoo.com/forms/z7x3p9/", :onclick => "window.open(this.href,  null, 'height=937, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"} Please fill out my form.


/ #wufoo-z7x3p9
/   Fill out my
/   = succeed "." do
/     %a{:href => "http://agiledesigncamp.wufoo.com/forms/z7x3p9"} online form
/ :javascript
/   var z7x3p9;(function(d, t) {
/   var s = d.createElement(t), options = {
/   'userName':'agiledesigncamp', 
/   'formHash':'z7x3p9', 
/   'autoResize':true,
/   'height':'937',
/   'async':true,
/   'header':'show'};
/   s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
/   s.onload = s.onreadystatechange = function() {
/   var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
/   try { z7x3p9 = new WufooForm();z7x3p9.initialize(options);z7x3p9.display(); } catch (e) {}};
/   var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
/   })(document, 'script');