%h1
  / Agile Design Camp 2012
  =image_tag('agile-design-camp-2012-logo.png')

/ %h1= link_to [@title, 'agile design camp 2012'].compact.join(' – '), root_path


/ %nav
/   %ul
/     %li
/       %a{ :href => '#one'} one
/     %li
/       %a{ :href => '#two'} two
/     %li
/       %a{ :href => '#three'} three
/     %li
/       %a{ :href => '#four'} four
/     %img#logo{ :src => 'content/stage-images/littlesmoere.jpg'}
