%head
  %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= [data.page.title, 'agile design camp 2012'].join(' – ')
    %meta{ :name => "viewport", :content => "width=device-width" }
    
    = stylesheet_link_tag "screen"
    = stylesheet_link_tag "roboto-fontfacekit/stylesheet"
      

