// LAYOUT
// should probably be get its own sass-partial
// actually, the whole gestalt-thing is great, but should get its own folder and partials. later.

// 
  okay, tiles. two units wide for mobile, four units for desktop. on widescreen, we stack two blocks with 4 units each.

  tile-units must be used in pairs and quadraples to work for easy floats: a pair of units (or a pair of pairs) must be same height if used in two/four tiles.

  yes, this is hard to describe in words and probably only makes sense when you know the scribble.

// layout
$tile-unit: $unit * 12
$base-margin: $unit
// $tile-unit: 13rem // makes for 300px width = 2 tiles + margin at 15rem
// $base-margin: 1rem

.tile1
  width: $tile-unit
.tile2
  width: $tile-unit * 2 + 2* $base-margin
.tile4
  width: $tile-unit * 2 + 2* $base-margin
  +above($break-medium)
    width: $tile-unit * 4 + 6* $base-margin
  // // @media screen and (max-width: 639px)
  //   width: $tile-unit * 2 + 2* $base-margin


.tile1, .tile2, .tile4
  margin: $base-margin
  padding: $base-margin
  float: left
  height: $tile-unit * 0.5
  overflow: hidden
  // -webkit-transition: height .6s ease .6s, background-color .6s ease .6s, width .5s ease .1s

.tile1, .tile2, .tile4
  background-color: $fg
  color: $bg

.content
  display: none


=holder
  // width: $break-small + 4* $base-margin // sadly does not work because of https://bugs.webkit.org/show_bug.cgi?id=78295 (rem in meadia queries is broken in webkit)
  width: $tile-unit * 2 + 4 * $base-margin
  margin: 0 auto
  +above($break-medium)
    width: $tile-unit * 4 + 8 * $base-margin
  +above($break-wide)
    width: $tile-unit * 8 + 16 * $base-margin


header, section[role=content], footer
  overflow: hidden
  +holder
  // border: 1px solid red

header, footer
  padding: $base-margin * 1

header
  margin-top: $unit * 2
  +above($break-medium)
    margin-top: $unit * 4
  +above($break-large)
    margin-top: $unit * 2

  img
    margin: 0

footer
  margin-top: $unit * 4
  text-align: right
  .line
    border-top: 1px solid $fg
    margin-bottom: $unit


#date
  height: auto
  +above($break-medium)
    height: $tile-unit * 0.5
    
#impressum
  display: none

#register, #contact
  background-color: $cn1

#sponsors
  float: right

// IxD stuff

.exp
  cursor: pointer

.expanded
  height: auto
  min-height: $tile-unit * 0.5
  .content
    display: block
