
// typography
$book: "RobotoRegular"
$italic: "RobotoItalic"
$bold: "RobotoBold"
$bolditalic: "RobotoBoldItalic"

$line-height: 1.4em


$unit: 11px


// colors

$fg: hsla(80, 95%, 50%, 1)
$bg: hsla(80, 95%, 12%, 1)
$cn1: hsla(200, 95%, 50%, 1)
$cn2: hsla(320, 95%, 50%, 1)