
// typography
$book: "RobotoRegular"
$italic: "RobotoItalic"
$bold: "RobotoBold"
$bolditalic: "RobotoBoldItalic"

$line-height: 1.4em


$unit: 11px


// colors

$fg-deg: 91

$fg: hsla($fg-deg, 66%, 40%, 1)
$bg: darken($fg, 30%)

$cn1: hsla($fg-deg+120, 66%, 40%, 1)
$cn2: hsla($fg-deg+240, 66%, 40%, 1)